.wrapper {
  width: max-content;
  max-width: 100%;
  padding: 2px;
  border-radius: 44px;
  background-color: var(--tgui--glass_bg);
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.wrapper--fullWidth {
  width: 100%;
  box-sizing: border-box;
}

.body {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: inherit;
}

.slider {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: var(--tgui--z-index--simple);
  background-color: var(--tgui--glass_tint);
  border-radius: 40px;
  transition: transform 150ms ease;
  width: 100%;
}

.wrapper--ios {
  border-radius: 9px;
  background-color: var(--tgui--glass_bg);
}

.wrapper--ios .slider {
  border-radius: inherit;
  box-shadow:
    0 3px 1px 0 rgba(0, 0, 0, 0.04),
    0 3px 8px 0 rgba(0, 0, 0, 0.12);
}
